body {
  margin: 0;
  background-color: $main-color-bg;
  font-family: $fonts-basic;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: $fonts-adicionais;
}

@mixin flex-column-center($wrap: nowrap) {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: $wrap;
}

@mixin flex-row-center($wrap: nowrap) {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: $wrap;
}

@mixin card-details() {
  border-radius: 5%;
  box-shadow: 5px 5px 10px 1px $text-color;
}

%logo-animation {
  animation: shake 1.5s infinite ease;
  color: $text-color;
  font-family: Montserrat, sans-serif;
  font-size: 3em;
  font-weight: 900;
}

%main {
  @include flex-column-center;
  background: $main-color-bg;
  color: $text-color;
  font-family: $fonts-basic;
  width: 100%;
}

.main-full {
  @extend %main;
  height: 100vh;
}

.main {
  @extend %main;
  height: 80vh;
}

.login > .logo {
  @extend %logo-animation;
}

.animation {
  @extend %logo-animation;
  margin-bottom: 30px;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  padding: 10px;
}

@keyframes shake {
  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {
  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}
